@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #ffffff;
  padding: 0 10px;
}
.wrapper {
  max-width: 420px;
  width: 100%;
  background: #F5F5F5;
  margin :50px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,125);
  padding: 25px;
}

.wrapper .title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-family:"Roboto",sans-serif;

}



.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #000;
  font-family: 'Roboto',sans-serif;
  font-weight:100; 
}


.wrapper .form  label{
  display: ;
  width: 100px;
  color: #000;
  margin-right: 10px;
  font : bold;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  font-weight:bolder;
  text-align: left;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
 border: 1px solid ;
  width: 100%;
  padding: 10px;
  color: #000;
  font-family: 'Roboto',sans-serif;

}
.wrapper .form .inputfield .textarea label{
  margin-right: 10px;
}
.wrapper .form .inputfield .textarea{

  width: 100%;
  padding: 10px;
  resize: none;
  font-family: 'Roboto',sans-serif;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
  color: 000;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #000;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #000;
}

.submit input[value=submit]{
  border: ;
  display: block;
  padding: 14px 0;
  text-align: center;
  width:100% ;
  background: #32CD32;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: ;
  cursor: pointer;
}
.wrapper .form .inputfields label{
  text-align: center;
  font-size: 10px;

}


@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
  @media ( max-width :320px) {
    .wrapper{
         min-width: 200px;
         min-height: 120px;
    }
}

@media ( min-width :321px) {
    .wrapper{
         min-width: 300px;
         min-height: 220px;
    }
}

@media ( min-width :640px) {
    .wrapper{
         min-width: 480px;
         min-height: 320px;
    }
}

@media ( min-width :1200px) {
    .wrapper{
         min-width: 700px;
         min-height: 400px;
    }
}
 